alembic==1.13.1
Flask==3.0.3
Flask-Cors==4.0.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
python-jose==3.3.0
pywebpush==2.0.0
SQLAlchemy==2.0.29
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>= 3.9.2 # not directly required, pinned to avoid a vulnerability
